<div class="login-form">
  <mat-card>
    <mat-card-content>
      <h1>Acceso al portal</h1>
      <mat-form-field class="full-width-input">
        <input text="text" matInput placeholder="Usuario" required/>
      </mat-form-field>
      <mat-form-field class="full-width-input separator">
        <input text="text" matInput placeholder="Contraseña" required/>
      </mat-form-field>
      <button type="submit" mat-raised-button color="ine" >Entrar</button>
    </mat-card-content>
  </mat-card>
</div>
